.button {
    position: relative;
    padding: 12px 35px;
    background: #A36A7B;
    font-size: 17px;
    font-weight: 500;
    color: white;
    border: 3px solid #A36A7B;
    border-radius: 8px;
    box-shadow: 0 0 0 #A36A7B;
    transition: all .3s ease-in-out;
    display: inline-block;
}

.star1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #EBD9E5);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #EBD9E5);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #EBD9E5);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #EBD9E5);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #EBD9E5);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #EBD9E5);
    z-index: -5;
    transition: all .8s ease;
}

.button:hover {
    background: transparent;
    color: #000;
    box-shadow: 0 0 25px #A36A7B;
}

.button:hover .star1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #EBD9E5);
    z-index: 2;
}

.button:hover .star2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #EBD9E5);
    z-index: 2;
}

.button:hover .star3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #EBD9E5);
    z-index: 2;
}

.button:hover .star4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #EBD9E5);
    z-index: 2;
}

.button:hover .star5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #EBD9E5);
    z-index: 2;
}

.button:hover .star6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #EBD9E5);
    z-index: 2;
}

.fil0 {
    fill: #EBD9E5
}
