.lugar {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: top right;
}

@media screen and (min-width: 769px) {
    .lugar {
        padding: 20px 0;
        background-image: url("../public/assets/lugar.jpg");
    }
}

@media screen and (max-width: 768px) and (min-width: 400px){
    .lugar {
        background-image: url("../public/assets/tablet/lugar.jpg");
    }
}

@media screen and (max-width: 400px) {
    .lugar {
        background-image: url("../public/assets/mobile/lugar.jpg");
    }
}
