.principal {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 769px) {
    .principal {
        background-image: url("../public/assets/principal.jpg");
    }
}

@media screen and (max-width: 768px) and (min-width: 400px){
    .principal {
        background-image: url("../public/assets/tablet/principal.jpg");
    }
}

@media screen and (max-width: 400px) {
    .principal {
        background-image: url("../public/assets/mobile/principal.jpg");
    }
}
