.regalos {
    background-image: url("../public/assets/regalos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 769px) {
    .regalos {
        background-image: url("../public/assets/regalos.jpg");
    }
}

@media screen and (max-width: 768px) and (min-width: 400px){
    .regalos {
        background-image: url("../public/assets/tablet/regalos.jpg");
    }
}

@media screen and (max-width: 400px) {
    .regalos {
        background-image: url("../public/assets/mobile/regalos.jpg");
    }
}
